@media (max-width:320px) {
    .u-sheet {
        width:300px;
    }
    section > * {
        width:300px !important;
    }
}
#sec-1d34 .u-nav-item.active a {
    color: rgb(132, 204, 49) !important;
}
#sec-1d34 .u-nav-item > a {
    transition: 0.1s;
}
#sec-1d34 .u-nav-item:hover> a {
    color: rgb(132, 204, 49) !important;
}
